@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600; 1.700;1.800 & display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
}

.landing-page header {
  min-height: 80px;
  display: flex;
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .container .logo {
  color: #5d5d5d;
  font-style: italic;
  font-size: 1.25em;
}

.landing-page header .container .links {
  display: flex;
  align-items: center;
}

.landing-page header .container .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .container .links li:last-child {
  background-color: #6c63ff;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
}

.landing-page header .container .links li:not(:last-child):hover {
  color: #6c63ff;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 96px);
}

.landing-page .content .container .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}

.landing-page .content .container .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .content .container .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
}

.landing-page .content .container .image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }

  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }

  .landing-page header .container .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .landing-page header .container .links {
    text-align: center;
    gap: 10px;
  }

  .landing-page header .container .links li {
    margin-left: auto;
  }

  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 117px);
    justify-content: center;
    flex-direction: column-reverse;
  }

  .landing-page .content .container .info {
    text-align: center;
    margin-bottom: 15px;
  }
}